.hero-section {
    padding: 120px 0;
}

.hero-section h1 {
    font-size: 6vw;
    line-height: 6vw;
    text-transform: uppercase;
}
.flex-item {
    display: flex;
    align-items: center;
    width: 80%;
}