.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.about-img img{
    animation: morphing 10s infinite;
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;		
    width:80%;
    height: 90%;
    object-fit: cover;
    margin-top: 40px;

}

@keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0,0,0,0.2)
    }
    25% { 
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
        border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0,0,0,0.2)
    }
    75% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;		
    }
}

.about-me h1 {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2980392157);
    color: transparent;
    font-family: sans-serif;
    font-size: 85px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: 40px;
}
.about-me h2{
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 28px;
    font-size: 2.5vw;
    text-transform: uppercase;
    
}
.about-me h3{
    padding: 10px 0;
}
.about-me h3 {
    border-bottom: 1px solid #0000003d;
    padding-bottom: 24px;
}

.about-me a {
    background: none;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 400;
    margin-top: 10px;
    padding: 15px 47px;
    transition: .3s ease-out;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 20px;
    font-family: 'Fuggles';
}

.about-content p {
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
}
.about-me a:hover{
    background: #000;
    color: white;
}

.img-and-img h1 {
    font-size: 6vw;
    text-transform: uppercase;
  }
  .img-and-img {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 130px;
  }
  
  .digital-about h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 700;
  }


.about-content img{
	
    width:100%;
    height: 100%;
    object-fit: cover;

}
.sc-slide {
    margin-right: 0px !important;
}
.arrow-icon span {
    transform: rotate(-91deg);
    display: block;
    position: relative;
    left: -2px;
    bottom: 17px;
    font-weight: 500;
    font-size: 18px;
}

.arrow-icon img{
    animation: logo 0.9s ease-in infinite alternate;
}

@keyframes logo{

    0%, 50%{
      position: relative;
      top: -6px;
      color: #ffffff;
      animation: logo 2s ease-in infinite alternate;
      opacity: 1;
    
    }
    100%{
      position: relative;
        top: 35px;
        color: #fff;
        opacity: 0.5;
      
    }
    
    
    
    }


.image-div {
    width:70%;
    height: 70%;
    position: relative;
    top: 30px;
}

.overly-img {
    background: linear-gradient(0deg, #000, rgb(0 0 0 / 16%) 28.71%, transparent);
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    z-index: 9999;

} 

.overly-img a {
    background: none;
    border-top: 1px solid #c0c0c062;
    border-bottom: 1px solid #c0c0c000;
    color: #c0c0c0;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 500;
    margin-top: 10px;
    padding: 15px 47px;
    transition: .3s ease-out;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 20px;
    margin-bottom: 1px;
    display: block;
    width: 100%;
    font-family: 'Fuggles';

}

.overly-img a:hover{
    background: #000;
    color: white;
    border-top: 1px solid #00000062;

}

.img-and-img img {
    width: 75px;
    bottom: 6px;
    position: relative;
    animation: App 8s ease-in infinite ;

}

@keyframes App {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .cv-download {
    display: flex;
    justify-content: end;
    height: 100%;
    align-items: end;
    width: 100%;
}

.cv-download a {
    display: block;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: translate(0px, 0px);
    font-weight: 500;
    font-size: 17px;
    color: black;
}
.cv-download a:hover{
    transform: translate(10px, 0px);
    
}

.cv-download a::before {
    content: "";
    position: absolute;
    top: 33px;
    left: -69px;
    background: black;
    height: 2px;
    width: 178px;
}
.cv-download a::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 2px;
    background: black;
    height: 2px;
    width: 178px;
}