body{
  font-family: 'Montserrat', sans-serif !important;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  background: #EEEEEE;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: lightgray; 
  border-radius: 8px;
}

html{
  scroll-behavior: smooth;
}